li {
  margin: 5px;
  background-color: #f4f4f4;
  font-family: cursive;
  padding: 4px;
  text-align: start;
  position: relative;
}

li:hover {
  box-shadow: 1px 1px 9px -3px rgb(120, 120, 148);
}

input,
button {
  margin: 10px;
}

#msg {
  font-size: 20px;
  color: red;
  text-align: start;
  position: absolute;
  top: 50px;
  left: 25px;
}

.msg-empty {
  color: grey;
}

p.item-title {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  left: 38px;
  width: 86%;
  font-size: 22px;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.icon.star.unselected {
  background-image: url('../../images/star.png');
  background-position: center;
  background-size: cover;
  left: -40px;
}

.icon.star.selected {
  background-image: url('../../images/star-selected.png');
  background-position: center;
  background-size: cover;
  left: -40px;
}

.icon.remove {
  right: 4px;
}
